.login_container{

}

.login_logo_container{
    -fx-background-color: #219ebc;
   -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIconView {
    -fx-fill: #ECF39E;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container Text {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.input_field{

    -fx-pref-height: 35;
    -fx-font-size: 1.2em;

}

.login_form_container Button{
    -fx-background-color: #219ebc;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 75;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.dashboard_pane{
    -fx-border-radius: 10px;
    -fx-background-color: #219ebc;
    -fx-background-radius: 10px;
    -fx-alignment: center;

}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.error{
    -fx-text-fill: #FF0000;
}

.register_form {
    -fx-pref-width: 3;

}


.dashboard_container{
    -fx-background-color: #f1faee;
   -fx-border-width: 2px 2px 2px 2px;
   -fx-border-radius: 20px;
   -fx-background-radius: 20px;
   -fx-border-style: solid;
   -fx-border-color: #f1faee;

}



